<html>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='x-ua-compatible' content='ie=edge' />
        <title>New Reservation Alert</title>
    </head>
    <body>
        <h2>New Reservation Alert</h2>
        <p>A new reservation has been made:</p>
        <ul>
            <li>Name: {{name}}</li>
            <li>Email: {{email}}</li>
            <li>Number of People: {{numberOfPeople}}</li>
        </ul>
    </body>
</html>